@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
 --font-inter: 'Inter', sans-serif;
 --font-georama: 'Georama', sans-serif;
}

@layer base {
 body {
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
}

@layer utilities {
 .nav-extra-btns {
  font-weight: 600;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all;
  animation-duration: 100ms;

  &:hover {
   border: none;
   border-radius: 0.5rem;
   transform: translateY(-3px);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
 }
 .bg-hero-section {
  background-image: url("assets/herobackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
 }
 @media (orientation: landscape) and (max-width: 1024px){
  .bg-hero-section{
   height: calc(100dvh + 5rem);
  }
  .flip-orientation{
   padding-top: 6.5rem;
  }
 }
}
