@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
 --font-inter: 'Inter', sans-serif;
 --font-georama: 'Georama', sans-serif;
}

@layer base {
 body {
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
}

@layer utilities {
 .bg-hero-section {
  background-image: url("assets/herobackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
 }
}
